@import '../../../theme/styles/settings';

.han-menu {
  position: absolute;
  top: 100%;
  z-index: 100;
  left: 0;
  background-color: #fff;
  // background-color: #57AE47;
  width: 100%;
  padding: 30px;
  color: #ffffff;
  box-shadow: 4px 4px 15px 2px rgba(0,0,0,0.69);
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: color 0.3s ease, transform 0.3s ease 0.3s;
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    li {
      @media screen and (min-width: 1161px) {
      width: 25%;
      // width: 100%;
      font-family: "Montserrat Regular", sans-serif;
      }      
      @media screen and (max-width: 1160px) {
      width: 25%;
      // width: 100%;
      font-family: "Montserrat Regular", sans-serif;
      }
      @media screen and (max-width: 890px) {

        width: 50%;
        font-family: "Montserrat Regular", sans-serif;
        }
      @media screen and (max-width: 625px) {
        width: 100%;
        font-family: "Montserrat Regular", sans-serif;
        }        
      a {
        display: block;
        padding: 5px 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        text-decoration: none;
        color: inherit;
        // color: #fff;
      }
    }
    li:hover {
      // background-color: rgba(85,174,88,0.2);
      // background-color: #aad7ac80;
      background-color: #e3fce3;
    }
  }
}
.open_menu {
  transform: scaleY(1);
  color: #000000;
  transition: transform 0.3s ease, color 0.3s ease 0.3s;
}
