@import "settings";

@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Montserrat-Regular/Montserrat-Regular.otf") format("opentype"),
  url("../fonts/Montserrat-Regular/Montserrat-Regular.svg") format("svg"),
  url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"),
  url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"),
  url("../fonts/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Montserrat-Bold/Montserrat-Bold.otf") format("opentype"),
  url("../fonts/Montserrat-Bold/Montserrat-Bold.svg") format("svg"),
  url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"),
  url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"),
  url("../fonts/Montserrat-Bold/Montserrat-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.otf") format("opentype"),
  url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg") format("svg"),
  url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf") format("truetype"),
  url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff") format("woff"),
  url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Montserrat ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.otf") format("opentype"),
  url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.svg") format("svg"),
  url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf") format("truetype"),
  url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff") format("woff"),
  url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "PlayfairDisplay Bold";
  src: url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "PlayfairDisplay Black";
  src: url("../fonts/PlayfairDisplay-Black/PlayfairDisplay-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}