@import '../../../theme/styles/settings';

// .breadcrumbs {
//   .list {
//     li {
//       margin-right: 14px;
//       display: inline-block;
// color:hotpink;
//       .link {
//         &:after {
//           position: relative;
//           content: '•';
//           font-family: 'slick';
//           font-size: 6px;
//           line-height: 30px;
//           text-align: center;
//           color: #fc8a15;
//           top: -2px;
//           left: 7px;
//         }
//       }
//     }
//   }
// }

.breadcrumb77 li {
  margin-bottom: 15px;
}
.breadcrumb77 li {
  display: inline-block;
  color: #000000;
  font-weight: 600;
}
.breadcrumb77 li a {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: #979797;
  text-decoration: none;
}

.breadcrumbs1 {
  color: green;
  .list {
    li {
      margin-right: 14px;
      display: inline-block;

      .link {
        &:after {
          position: relative;
          content: '•';
          font-family: 'slick';
          font-size: 6px;
          line-height: 30px;
          text-align: center;
          color: #fc8a15;
          top: -2px;
          left: 7px;
        }
      }
    }
  }
}
