$black: #000;
$green: #78ad5e;
$lightgreen: #aad7ac;
$white: #FFF;
$grey: #979797;
$primary: #57AE47;
$orange: #fd6b0d;
$blacklada: #201600;
$submenu: #006ec2;
$warning: #EF3124;
$lightgreen-thumb:#93b995;