@import '../../../theme/styles/settings.scss';

.form {
  margin: 10px auto 0;
  max-width: 57%;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 5px;
  background: aliceblue;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.FIO input {
  height: 50px;
  width: 32%;
  border-radius: 3px;
  border: rgba(0, 0, 0, 0.3) 2px solid;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 30px;
}

.input .input__control.placeholder,
.input .input__control[placeholder],
.input .input__control::placeholder {
  color: #0a0a0a !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 10px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
}

.input .input__control {
  border: rgba(0, 0, 0, 0.3) 2px solid;
}

.textbox {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  border: rgba(0, 0, 0, 0.3) 2px solid;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 30px;
}

.message:focus,
.textbox:focus {
  outline: none;
  border: rgba(24, 149, 215, 1) 2px solid;
  color: rgba(24, 149, 215, 1);
}

.message {
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 120px;
  border: rgba(0, 0, 0, 0.3) 2px solid;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  padding: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}

.button-form-record {
  margin-top: 10px;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  border: 0;
  box-sizing: border-box;
  padding: 10px;
  background: #44bb44;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  transition: background 0.4s;
  cursor: pointer;
}

.button-form-record:hover {
  background: #44bb99;
}

@media (max-width: 480px) and (min-width: 320px) {
  .form {
    max-width: 92%;
    margin: 10px;
  }

  .textbox {
    font-size: 12px;
  }
}

#filial-from {
  margin-top: 30px;
}

//============================================================
.record-steps {
  margin: 15px 0 30px 0;
}

.record-button-start {
  font-family: 'Montserrat Regular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: $grey;

  display: block;
  width: 100%;
  // padding: 10px 20px;
  padding: 10px 10px;
  margin-bottom: 8px;
  // border: 2px solid $grey;
  border-bottom: 1px solid $grey;
  
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 5px 4px #c2c2c2;
}

.value-selected {
  // background-color: $primary;
  // border-color: $primary;
  border-color: $lightgreen;
  border-bottom: 1px solid $lightgreen;
  box-shadow: 0 2px 4px $lightgreen;
  // box-shadow: none;
  // color: white;
  color: $blacklada;
}

.active-button {
  // border: 2px solid $primary;
  border: 1px solid $primary;
  color: $primary;
  transition: 0.3s ease;
  &:hover {
    color: #fd6b0d;
    // color: white;
    // background-color: $primary;
  }
}

.comments__header {
  color: $orange;
  text-transform: uppercase;
  font-family: 'Montserrat Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 10px;
}

.comments {
  p {
    font-family: 'Montserrat Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    padding-left: 20px;
  }
  ul {
    list-style: unset;
    padding-left: 40px;
    li {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
      margin-bottom: 8px;
    }
  }
}



.info {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 8px 0;
}
.colum_prog {
  // background-color: #e5fce6;
  border-radius: 5px;
  // border: 1px solid #aad7ac;
  // box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 2px 0px 4px #c2c2c2;
  // box-shadow: 2px 0px 4px #e6e6e6;
  // margin-left: 10px;
  // margin-right: 10px;
  padding: 15px 15px 0px 15px;
}
.price-info {
  max-width: 590px;
  width: 100%;
  // background-color: #dadada;
  background-color: #ecf0ec;
  padding: 15px 20px;
  & p {
    margin: 0 0 9px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  & .price {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
}

.payment-method {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 10px 0 30px 0;
}

.payment-block {
  display: flex;
  justify-content: space-between;
  max-width: 590px;
  width: 100%;
  margin-bottom: 30px;
}

.payment-btn {
  background: #ffffff;
  border: 1px solid #979797;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 255px;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-align: left;
  span{
    margin-left: 20px;
  }
}
.agreement {
  margin-bottom: 30px;
}

.checkbox_theme_alfa-on-white.agreement .checkbox__text, a.agreement {
  font-family: 'Montserrat Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.checkbox_theme_alfa-on-white.checkbox_checked .checkbox__box {
  background-color: #003dd9;
}
.checkbox_theme_alfa-on-white.checkbox_checked.checkbox_hovered .checkbox__box {
  background-color: #003dd9;
}

.payment-btn {

  .check-icon{
    display: none;
  }
  & svg path {
    fill: #000000;
  }
}
.payment-btn-active {
  position: relative;
  border: 1px solid $primary;
  color: $primary;
  box-shadow: 0 4px 4px #3EB436;
  & svg path {
    fill: $primary;
  }
  .check-icon{
    position: absolute;
    left: -4px;
    bottom: -4px;
    display: block;
  }
}

.record__btn{
  margin-bottom: 70px;
  &:disabled{
    background-color: #c2c2c2;
  }
}

.input .input__control[placeholder] {
  font-family: "Montserrat Regular",sans-serif;
  border-radius: 10px;
  font-size: 14px;
  height: unset;
  padding: 10px 20px;
  border: 1px solid #BCBEC0;
}

.input .input__control::placeholder{
  font-family: "Montserrat Regular",sans-serif;
  font-size: 14px;
  padding: 0;
  color: #BCBEC0;
}

.input .input__box{
  border: none;
}

.agreement-wrapper{
  margin-top: 20px;
  display: flex;
  align-items: center;
}

a.agreement {
  text-decoration: none;
  color: #0f62fe;
  margin-left: 5px;
}
